# 2014年淘宝双12用户行为数据分析

-  项目背景：中国电商行业已经历了十几年的发展，线上购物已成为每个人日常生活中的必备项。各路电商平台厮杀争夺客户，  而电商的人口红利现在已经几乎耗尽，增量时代已经结束。在现如今的存量时代，对于电商平台来说，如何有效对已有用户购   买等行为分析，进而深入了解用户，制定有效的营销运营手段，为实现利润增长变得十分重要。
- 数据收集了淘宝2014年双十二前后（2014年的11月18至12月18）期间的1225万条（12256906）用户购买数据，数据中包含6个字  段，分别是用户id、行为类别（1-4分别代表浏览、收藏、加购、下单）、行为发生时间、地理位置编号、商品id、商品品类。
- 项目目标：对已有用户行为分析，进而深入了解用户，制定有效的营销运营手段，为运营和算法提供建议，实现利润增长
- 分析路径；从人（用户）、货（商品）、场（品平台）三个方面出发对数据进行分析，并针对分析结果，提出综合性的建议

In [1]:
#导入需要的包
import pandas as pd
import numpy as np
import matplotlib

In [2]:
#导入数据并查看数据
sale_data=pd.read_csv('tb_user.csv')
sale_data.head(3)

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,98047837,232431562,1,NaN,4245,2014-12-06 02
1,97726136,383583590,1,NaN,5894,2014-12-09 20
2,98607707,64749712,1,NaN,2883,2014-12-18 11

In [3]:
print(type(sale_data))

<class 'pandas.core.frame.DataFrame'>

In [4]:
sale_data.shape

(12256906, 6)

In [5]:
#数据统计截止时间
sale_data.time.max()

'2014-12-18 23'

In [6]:
#数据统计开始时间
sale_data.time.min()

'2014-11-18 00'

### 1. 数据清洗，主要是重复数据的处理，缺失值的填补、删除，异常数据的处理，以及日期数据的处理

In [7]:
#查看是否有重复数据
sale_data.duplicated().value_counts()

False    8164040
True     4092866
dtype: int64

In [3]:
#数据清洗1：删除重复值
sale_data.drop_duplicates(inplace=True)
sale_data.shape

(8164040, 6)

In [9]:
#数据清洗2：查看缺失情况
sale_data.count()
#此步可以看到，某些用户在使用淘宝时没有开放地理位置权限，导致用户地理位置信息大块缺失，所以此字段暂时不做分析

user_id          8164040
item_id          8164040
behavior_type    8164040
user_geohash     3856025
item_category    8164040
time             8164040
dtype: int64

In [10]:
#数据清洗3：日期格式处理
#time字段是对象类型，需要处理成日期，并得到数据的的年月日，一周中的第几天，一天中的什么时间
sale_data['event_time']=pd.to_datetime(sale_data['time'])
sale_data['event_date'] = sale_data.event_time.dt.date
sale_data['event_hour'] = sale_data.event_time.dt.hour
sale_data['event_weekday'] = sale_data.event_time.dt.dayofweek+1

In [11]:
sale_data['event_time'].head(3)

0   2014-12-06 02:00:00
1   2014-12-09 20:00:00
2   2014-12-18 11:00:00
Name: event_time, dtype: datetime64[ns]

In [12]:
sale_data['event_date'].head(3)

0    2014-12-06
1    2014-12-09
2    2014-12-18
Name: event_date, dtype: object

In [13]:
sale_data['event_hour'].head(3)

0     2
1    20
2    11
Name: event_hour, dtype: int64

In [16]:
sale_data['event_weekday'].head(3)

0    6
1    2
2    4
Name: event_weekday, dtype: int64

In [17]:
#数据清洗4：查看字段数值是否异常
sale_data.describe().applymap(lambda x:'%.2f' % x)

,user_id,item_id,behavior_type,item_category,event_hour,event_weekday
count,8164040.00,8164040.00,8164040.00,8164040.00,8164040.00,8164040.00
mean,71473818.67,202289967.08,1.15,6837.00,15.20,3.92
std,41210851.21,116754363.37,0.54,3805.72,6.18,1.93
min,4913.00,64.00,1.00,2.00,0.00,1.00
25%,35745255.00,101378149.00,1.00,3695.00,11.00,2.00
50%,72703245.00,202059012.50,1.00,6146.00,16.00,4.00
75%,106926411.00,303562703.00,1.00,10275.00,21.00,6.00
max,142455899.00,404562461.00,4.00,14080.00,23.00,7.00

In [18]:
sale_data.describe(include='all')

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,user_id,item_id,behavior_type,user_geohash,item_category,time,event_time,event_date,event_hour,event_weekday
count,8.164040e+06,8.164040e+06,8.164040e+06,3856025,8.164040e+06,8164040,8164040,8164040,8.164040e+06,8.164040e+06
unique,NaN,NaN,NaN,575458,NaN,744,744,31,NaN,NaN
top,NaN,NaN,NaN,94ek6ke,NaN,2014-12-11 22,2014-12-11 22:00:00,2014-12-12,NaN,NaN
freq,NaN,NaN,NaN,1028,NaN,40652,40652,479388,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-18 00:00:00,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-18 23:00:00,NaN,NaN,NaN
mean,7.147382e+07,2.022900e+08,1.151846e+00,NaN,6.837000e+03,NaN,NaN,NaN,1.520080e+01,3.920420e+00
std,4.121085e+07,1.167544e+08,5.401788e-01,NaN,3.805719e+03,NaN,NaN,NaN,6.177866e+00,1.933076e+00
min,4.913000e+03,6.400000e+01,1.000000e+00,NaN,2.000000e+00,NaN,NaN,NaN,0.000000e+00,1.000000e+00
25%,3.574526e+07,1.013781e+08,1.000000e+00,NaN,3.695000e+03,NaN,NaN,NaN,1.100000e+01,2.000000e+00
50%,7.270324e+07,2.020590e+08,1.000000e+00,NaN,6.146000e+03,NaN,NaN,NaN,1.600000e+01,4.000000e+00
75%,1.069264e+08,3.035627e+08,1.000000e+00,NaN,1.027500e+04,NaN,NaN,NaN,2.100000e+01,6.000000e+00
max,1.424559e+08,4.045625e+08,4.000000e+00,NaN,1.408000e+04,NaN,NaN,NaN,2.300000e+01,7.000000e+00

In [19]:
sale_data.head(2)

,user_id,item_id,behavior_type,user_geohash,item_category,time,event_time,event_date,event_hour,event_weekday
0,98047837,232431562,1,NaN,4245,2014-12-06 02,2014-12-06 02:00:00,2014-12-06,2,6
1,97726136,383583590,1,NaN,5894,2014-12-09 20,2014-12-09 20:00:00,2014-12-09,20,2

### 2.对数据的总体情况进行分析：

In [ ]:
#用户总体的购物情况
sale_data.behavior_type.count()

可以看到在此期间用户总共发生浏览收藏加购等行为8164040次

In [ ]:
sale_data.groupby('event_date').behavior_type.count().sort_values(ascending=False).head(3)

可以看到，在双12当天用户发生的浏览、收藏、加购、下单行为最多，其次是临近双12的两天。

In [ ]:
sale_data.groupby('event_date').behavior_type.count().sort_values(ascending=True).head(3)

可以看到，在活动开始后的三天，即预热阶段，用户发生的浏览、收藏、加购、下单行为最少，双12当天基本可以达到前三天每天的两倍以上。

In [ ]:
sale_data['user_id'].nunique()

在整个活动期间，使用淘宝的用户人次达到10000

In [ ]:
sale_data.groupby('behavior_type')['user_id'].nunique()

在活动期间吗，使用淘宝下单的人次占活动期间总人次的88.86%，总体来看下单人数占比很大。

In [ ]:
#复购率：产生两次或以上购买次数的用户数占总的购买用户的比率
buy_user=sale_data[sale_data['behavior_type']== 4].groupby('user_id')['behavior_type'].count()
rbuy_user=buy_user[buy_user>=2]
rbuy_rate=round((rbuy_user.count()/8886)*100,2)
print("复购率为"+str(rbuy_rate)+"%")

### 3.用户方向的分析

In [ ]:
#算出用户的购买率（购买数/浏览数）和用户各行为统计
view_count=sale_data[sale_data['behavior_type']== 1].groupby('user_id')['event_time'].count()
buy_count=sale_data[sale_data['behavior_type']== 4].groupby('user_id')['event_time'].count()
col_count=sale_data[sale_data['behavior_type']==2].groupby('user_id')['event_time'].count()
cart_count=sale_data[sale_data['behavior_type']==3].groupby('user_id')['event_time'].count()
buy_rate=buy_count/view_count
df= pd.concat([view_count,col_count,cart_count,buy_count,buy_rate],axis=1)
df.columns=['view_count','col_count','cart_count','buy_count','buy_rate']

In [ ]:
#查看购买率高的用户的行为特征
df.sort_values(by='buy_rate',ascending=False).head(10)

购买率高的客户，浏览量不高，收藏和加购次数也很少，这类客户基本上浏览过后就会直接购买，‘缺啥买啥’属于理智型消费者，广告促销或者推送对这类客户基本不起作用，所以可以考虑减少这类客户的广告推送，或者对这部分客户更精准推送，增加用户好感度和忠诚度

In [ ]:
#查看购买率低的用户的行为特征
df.sort_values(by='buy_rate',ascending=True).head(10)

购买率低的用户基本上基本上可以分为两类，一类是浏览数很高，收藏或者加购次数也多但是购买数却很少，此类客户有可能正在为商家的促销活动做准备，下单欲望不强，购物难度较大；
还有一类是浏览量高，但是收藏和加购次数也不高，这类客户可能对该app的用户粘性不高，只是来对比不同平台商品价格和种类，商品价格或种类不具有吸引力从而流失了用户。

In [ ]:
#用户购买时间分析
%pylab
%matplotlib inline
sale_data.groupby('event_hour')['event_time'].count().plot()

- 从图中可以看出，0点到5点用户活跃次数迅速降低至最低点，6到10点快速上升，10到18点用户活跃数比较平稳，16点后快速上升，21点22点时间段用户使用淘宝次数达到最大，可以根据用户使用时间来投放广告和折扣

### 2. 用户方向的分析

使用RFM模型对用户进行价值分层，从而实现精细化用户运营，数据集不含金额，所以仅从R、F两个维度进行分析   
R——Recency(最近一次购买时间)  
F——Frequency(购买频率)  
M——Money(购物金额)

In [ ]:
sale_data.reset_index(inplace=True)#由于删除重复数据导致索引混乱，重置索引
sale_data.columns

In [ ]:
#得到R、F值
sale_data_byuid=sale_data[sale_data['behavior_type']==4].groupby(by='user_id')#筛选用户行为为4类的用户，按照用户id分组
RF = pd.DataFrame(index=sale_data_byuid.groups.keys(), columns=['R', 'F'])
RF['F'] = sale_data_byuid.event_time.count()#F为购买行为发生的次数
RF['last_buy_time'] = sale_data_byuid.time.max()#last_buy_time为用户最近一次购买的时间
RF['R']=RF.last_buy_time.apply(lambda x:(pd.to_datetime('2014-12-19 00:00:00')-pd.to_datetime(x)).days)#R为用户最后一次购买距最后记录的天数
RF.drop(['last_buy_time'],axis = 1,inplace=True)#删去辅助行last_buy_time
RF.head(3)

In [ ]:
#得到阈值参考值
RF.describe()

In [ ]:
RFR=RF['R'].tolist()
max(RFR,key=RFR.count)#R的众数

In [ ]:
RFF=RF['F'].tolist()
max(set(RFF),key=RFF.count)#F的众数

- 购买次数平均12次，中位数为8，最少的1次，最多达到770次，而最多的是购买0次的用户，可以看出F的分布是右偏分布，且数据间的差异很大，此时可以用中位数来代表数据是更为合理的，从众数上来看，大部分的用户是仅下载了淘宝APP但并未购买，可能是双12的宣传提高了APP的下载量，但购买转化率太低，这是提高GMV的一个路径
- 购买间隔平均6天，中位数4天，最小0天，最大31天,上四分位数是7天，而最多的是间隔1天就要购买一次的用户，可以看出R是右偏分布，以中位数代表数据，从众数上来看，大部分的用户在双12周期结束前一天都会进行购买，所以可以在最后一天对用户购物车中的商品进行针对性的打折活动等提高GMV

In [ ]:
#一般双12活动的预热在12月10号开始，将距12月18号8天作为划分来判断用户价值,大于8被判断为高价值
RF['R_value']=RF.R.apply(lambda x: 1 if int(x)<8 else 0)
#以消费频次的中位数8次来划分客户价值，大于8为高价值
RF['F_value']=RF.F.apply(lambda x: 1 if int(x)>8 else 0)

In [ ]:
#自定义用户价值判断函数
def user_classfication(tup):
    R_value, F_value = tup
    if R_value == 0 and F_value == 1:#若用户在活动期间12月10号以后没有购买但是总的共购买了8次以上视为重要保持客户
        return "重要保持客户"
    elif R_value == 1 and F_value == 0:#若用户在活动期间12月10号以后有购买但是总的共购买了8次以下视为重要发展客户
        return "重要发展客户"
    elif R_value == 1 and F_value == 1:#若用户在活动期间12月10号以后有购买且总放入共购买了8次以上视为重要价值客户
        return "重要价值客户"
    elif R_value == 0 and F_value == 0:#若用户在活动期间12月10号以后没有购买且总共购买了8次以下视为重要挽留客户
        return "重要挽留客户"
    else:
        return None

In [ ]:
RF['user_classification'] = RF[['R_value','F_value']].apply(user_classfication, axis=1)

In [ ]:
RF.head(5)

In [ ]:
df1=RF.user_classification.value_counts()

In [ ]:
print(df1)

In [ ]:
round(df1.head()*100/RF.user_classification.count(),2)

- 用户部分分析结论：
  重要价值客户 43.90，重要发展客户 32.74，为主要用户群体；
  其中重要价值客户占比43.9%，这类客户不需要进行营销活动，可以为其提供更优质的售后服务，及时解决问题以提高用户的   满意度；
  重要发展客户是32.74%，这类客户是最近有购买，但是最近的购买次数较少的，需要针对其提高消费频次是在重点要关注的客户。

### 3.商品方向的分析

In [8]:
#产品销量分析
sale_data.groupby('item_category').event_time.count().sort_values(ascending=False).head(10)

item_category
1863     264030
13230    231533
5027     225397
5894     217677
6513     196461
5399     191046
11279    123670
2825     108429
5232      96138
10894     92577
Name: event_time, dtype: int64

In [41]:
sale_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8164040 entries, 0 to 8164039
Data columns (total 11 columns):
index            int64
user_id          int64
item_id          int64
behavior_type    int64
user_geohash     object
item_category    int64
time             object
event_time       datetime64[ns]
event_date       object
event_hour       int64
event_weekday    int64
dtypes: datetime64[ns](1), int64(7), object(3)
memory usage: 685.2+ MB

- 对于销量比较靠前的商品，可以用户进行推送或者在首页提高出现的频次，特别是活动商品，也可以通过销量榜单吸引用户购买

In [14]:
#产品关联度分析
#!pip install efficient_apriori
#!pip install mlxtend --user

In [ ]:
"""一、使用efficient_apriori中的apriori方法，但是此方法由于数据集过大占用内存也大，所以很可能跑不出来"""
#获取目标列
from efficient_apriori import apriori
# 统计当天同一客户的订单中购买的所有产品
df_order = sale_data.groupby(['event_date','user_id'])['item_id'].unique()

In [17]:
print(typedf_order)

<class 'pandas.core.series.Series'>

In [ ]:
# 将所有交易订单追加到列表
transactions = []
for value in df_order:
    transactions.append(list(value))

In [148]:
transactions[1:10]

[[164700097, 395281690],
 [389735902,
  343090767,
  396586367,
  205440382,
  223093978,
  321577287,
  286286225,
  76013130,
  331010228,
  76513118,
  158651459,
  366880061],
 [254552786, 216476401, 30759335, 120401989],
 [163031814,
  401255397,
  264424578,
  146548754,
  42478255,
  120198880,
  214110240,
  369276833,
  167249756,
  233751787,
  344486848,
  31115163,
  404162786,
  117663703,
  241305566],
 [371394735,
  382696538,
  282100139,
  248760666,
  327286838,
  123328330,
  392999527,
  54460820,
  322460842,
  349546767,
  384831854,
  158483695,
  88217405,
  376694595,
  93299693,
  397875298,
  345069289,
  388370968,
  230982636,
  354220815,
  379418625,
  237266274,
  372689073,
  191574905,
  169207597,
  381022459,
  316697432],
 [33559828, 70666924, 127932089],
 [219690249, 360748299, 179847493],
 [131168474,
  247726147,
  225759711,
  179104406,
  226140176,
  39873652,
  116768804,
  310869960,
  265634230,
  46876228,
  295465092,
  42321572],
 [277622618,
  246405332,
  62737331,
  27919501,
  114888983,
  286417708,
  248724906,
  22889031,
  387300415,
  24775933,
  128688209,
  20233647,
  177699230,
  188319105,
  141787333,
  28333099,
  212069032,
  20025320,
  164110471,
  124805572]]

In [10]:
# 挖掘频繁项集和频繁规则
import time
start = time.time()
itemsets, rules = apriori(transactions, min_support=0.0001,  min_confidence=0.000001)
print("频繁项集：", itemsets)
print("关联规则：", rules)
end = time.time()
print("用时：",end-start)

频繁项集： {1: {(360820184,): 204, (275450912,): 378, (374235261,): 321, (21087251,): 249, (350186246,): 212, (135104537,): 457, (97655171,): 493, (211781109,): 235, (277922302,): 335, (387911330,): 421, (128186279,): 385, (5685392,): 361, (66399540,): 222, (303205878,): 215, (314903844,): 215, (322554659,): 254, (14087919,): 280, (112921337,): 685, (6703599,): 240, (152338475,): 223, (355292943,): 211, (247894113,): 222, (2217535,): 403, (109421054,): 216, (147989252,): 203, (27364659,): 219, (353381230,): 258, (361681874,): 265, (217213194,): 261, (377464983,): 203, (184181655,): 231, (355491322,): 205, (239702618,): 207, (209323160,): 310}}
关联规则： []
用时： 31.750048398971558

In [13]:
"""二、mlx_apr挖掘频繁项集和频繁规则"""
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [1]:
#由于出现内存溢出问题，所以选择安装较低版本的pandas，获取所需的数据集后再更新到最新版本
#!pip install pandas==0.21
#import pandas as pd
#data_products = sale_data.groupby(sale_data['user_id'])['item_id'].value_counts().unstack()
#!pip install pandas
#data_products[data_products > 1] = 1
#data_products[np.isnan(data_products)] = 0
#此方法耗费时间

In [15]:
#采用分块旋转的方法来处理溢出问题
import pandas as pd 
from tqdm import tqdm

chunk_size = 5000
chunks = [x for x in range(0, sale_data.shape[0], chunk_size)]

for i in range(0, len(chunks) - 1):
    print(chunks[i], chunks[i + 1] - 1)

0 4999
5000 9999
10000 14999
15000 19999
20000 24999
25000 29999
30000 34999
35000 39999
40000 44999
45000 49999
50000 54999
55000 59999
60000 64999
65000 69999
70000 74999
75000 79999
80000 84999
85000 89999
90000 94999
95000 99999
100000 104999
105000 109999
110000 114999
115000 119999
120000 124999
125000 129999
130000 134999
135000 139999
140000 144999
145000 149999
150000 154999
155000 159999
160000 164999
165000 169999
170000 174999
175000 179999
180000 184999
185000 189999
190000 194999
195000 199999
200000 204999
205000 209999
210000 214999
215000 219999
220000 224999
225000 229999
230000 234999
235000 239999
240000 244999
245000 249999
250000 254999
255000 259999
260000 264999
265000 269999
270000 274999
275000 279999
280000 284999
285000 289999
290000 294999
295000 299999
300000 304999
305000 309999
310000 314999
315000 319999
320000 324999
325000 329999
330000 334999
335000 339999
340000 344999
345000 349999
350000 354999
355000 359999
360000 364999
365000 369999
370000 374999
375000 379999
380000 384999
385000 389999
390000 394999
395000 399999
400000 404999
405000 409999
410000 414999
415000 419999
420000 424999
425000 429999
430000 434999
435000 439999
440000 444999
445000 449999
450000 454999
455000 459999
460000 464999
465000 469999
470000 474999
475000 479999
480000 484999
485000 489999
490000 494999
495000 499999
500000 504999
505000 509999
510000 514999
515000 519999
520000 524999
525000 529999
530000 534999
535000 539999
540000 544999
545000 549999
550000 554999
555000 559999
560000 564999
565000 569999
570000 574999
575000 579999
580000 584999
585000 589999
590000 594999
595000 599999
600000 604999
605000 609999
610000 614999
615000 619999
620000 624999
625000 629999
630000 634999
635000 639999
640000 644999
645000 649999
650000 654999
655000 659999
660000 664999
665000 669999
670000 674999
675000 679999
680000 684999
685000 689999
690000 694999
695000 699999
700000 704999
705000 709999
710000 714999
715000 719999
720000 724999
725000 729999
730000 734999
735000 739999
740000 744999
745000 749999
750000 754999
755000 759999
760000 764999
765000 769999
770000 774999
775000 779999
780000 784999
785000 789999
790000 794999
795000 799999
800000 804999
805000 809999
810000 814999
815000 819999
820000 824999
825000 829999
830000 834999
835000 839999
840000 844999
845000 849999
850000 854999
855000 859999
860000 864999
865000 869999
870000 874999
875000 879999
880000 884999
885000 889999
890000 894999
895000 899999
900000 904999
905000 909999
910000 914999
915000 919999
920000 924999
925000 929999
930000 934999
935000 939999
940000 944999
945000 949999
950000 954999
955000 959999
960000 964999
965000 969999
970000 974999
975000 979999
980000 984999
985000 989999
990000 994999
995000 999999
1000000 1004999
1005000 1009999
1010000 1014999
1015000 1019999
1020000 1024999
1025000 1029999
1030000 1034999
1035000 1039999
1040000 1044999
1045000 1049999
1050000 1054999
1055000 1059999
1060000 1064999
1065000 1069999
1070000 1074999
1075000 1079999
1080000 1084999
1085000 1089999
1090000 1094999
1095000 1099999
1100000 1104999
1105000 1109999
1110000 1114999
1115000 1119999
1120000 1124999
1125000 1129999
1130000 1134999
1135000 1139999
1140000 1144999
1145000 1149999
1150000 1154999
1155000 1159999
1160000 1164999
1165000 1169999
1170000 1174999
1175000 1179999
1180000 1184999
1185000 1189999
1190000 1194999
1195000 1199999
1200000 1204999
1205000 1209999
1210000 1214999
1215000 1219999
1220000 1224999
1225000 1229999
1230000 1234999
1235000 1239999
1240000 1244999
1245000 1249999
1250000 1254999
1255000 1259999
1260000 1264999
1265000 1269999
1270000 1274999
1275000 1279999
1280000 1284999
1285000 1289999
1290000 1294999
1295000 1299999
1300000 1304999
1305000 1309999
1310000 1314999
1315000 1319999
1320000 1324999
1325000 1329999
1330000 1334999
1335000 1339999
1340000 1344999
1345000 1349999
1350000 1354999
1355000 1359999
1360000 1364999
1365000 1369999
1370000 1374999
1375000 1379999
1380000 1384999
1385000 1389999
1390000 1394999
1395000 1399999
1400000 1404999
1405000 1409999
1410000 1414999
1415000 1419999
1420000 1424999
1425000 1429999
1430000 1434999
1435000 1439999
1440000 1444999
1445000 1449999
1450000 1454999
1455000 1459999
1460000 1464999
1465000 1469999
1470000 1474999
1475000 1479999
1480000 1484999
1485000 1489999
1490000 1494999
1495000 1499999
1500000 1504999
1505000 1509999
1510000 1514999
1515000 1519999
1520000 1524999
1525000 1529999
1530000 1534999
1535000 1539999
1540000 1544999
1545000 1549999
1550000 1554999
1555000 1559999
1560000 1564999
1565000 1569999
1570000 1574999
1575000 1579999
1580000 1584999
1585000 1589999
1590000 1594999
1595000 1599999
1600000 1604999
1605000 1609999
1610000 1614999
1615000 1619999
1620000 1624999
1625000 1629999
1630000 1634999
1635000 1639999
1640000 1644999
1645000 1649999
1650000 1654999
1655000 1659999
1660000 1664999
1665000 1669999
1670000 1674999
1675000 1679999
1680000 1684999
1685000 1689999
1690000 1694999
1695000 1699999
1700000 1704999
1705000 1709999
1710000 1714999
1715000 1719999
1720000 1724999
1725000 1729999
1730000 1734999
1735000 1739999
1740000 1744999
1745000 1749999
1750000 1754999
1755000 1759999
1760000 1764999
1765000 1769999
1770000 1774999
1775000 1779999
1780000 1784999
1785000 1789999
1790000 1794999
1795000 1799999
1800000 1804999
1805000 1809999
1810000 1814999
1815000 1819999
1820000 1824999
1825000 1829999
1830000 1834999
1835000 1839999
1840000 1844999
1845000 1849999
1850000 1854999
1855000 1859999
1860000 1864999
1865000 1869999
1870000 1874999
1875000 1879999
1880000 1884999
1885000 1889999
1890000 1894999
1895000 1899999
1900000 1904999
1905000 1909999
1910000 1914999
1915000 1919999
1920000 1924999
1925000 1929999
1930000 1934999
1935000 1939999
1940000 1944999
1945000 1949999
1950000 1954999
1955000 1959999
1960000 1964999
1965000 1969999
1970000 1974999
1975000 1979999
1980000 1984999
1985000 1989999
1990000 1994999
1995000 1999999
2000000 2004999
2005000 2009999
2010000 2014999
2015000 2019999
2020000 2024999
2025000 2029999
2030000 2034999
2035000 2039999
2040000 2044999
2045000 2049999
2050000 2054999
2055000 2059999
2060000 2064999
2065000 2069999
2070000 2074999
2075000 2079999
2080000 2084999
2085000 2089999
2090000 2094999
2095000 2099999
2100000 2104999
2105000 2109999
2110000 2114999
2115000 2119999
2120000 2124999
2125000 2129999
2130000 2134999
2135000 2139999
2140000 2144999
2145000 2149999
2150000 2154999
2155000 2159999
2160000 2164999
2165000 2169999
2170000 2174999
2175000 2179999
2180000 2184999
2185000 2189999
2190000 2194999
2195000 2199999
2200000 2204999
2205000 2209999
2210000 2214999
2215000 2219999
2220000 2224999
2225000 2229999
2230000 2234999
2235000 2239999
2240000 2244999
2245000 2249999
2250000 2254999
2255000 2259999
2260000 2264999
2265000 2269999
2270000 2274999
2275000 2279999
2280000 2284999
2285000 2289999
2290000 2294999
2295000 2299999
2300000 2304999
2305000 2309999
2310000 2314999
2315000 2319999
2320000 2324999
2325000 2329999
2330000 2334999
2335000 2339999
2340000 2344999
2345000 2349999
2350000 2354999
2355000 2359999
2360000 2364999
2365000 2369999
2370000 2374999
2375000 2379999
2380000 2384999
2385000 2389999
2390000 2394999
2395000 2399999
2400000 2404999
2405000 2409999
2410000 2414999
2415000 2419999
2420000 2424999
2425000 2429999
2430000 2434999
2435000 2439999
2440000 2444999
2445000 2449999
2450000 2454999
2455000 2459999
2460000 2464999
2465000 2469999
2470000 2474999
2475000 2479999
2480000 2484999
2485000 2489999
2490000 2494999
2495000 2499999
2500000 2504999
2505000 2509999
2510000 2514999
2515000 2519999
2520000 2524999
2525000 2529999
2530000 2534999
2535000 2539999
2540000 2544999
2545000 2549999
2550000 2554999
2555000 2559999
2560000 2564999
2565000 2569999
2570000 2574999
2575000 2579999
2580000 2584999
2585000 2589999
2590000 2594999
2595000 2599999
2600000 2604999
2605000 2609999
2610000 2614999
2615000 2619999
2620000 2624999
2625000 2629999
2630000 2634999
2635000 2639999
2640000 2644999
2645000 2649999
2650000 2654999
2655000 2659999
2660000 2664999
2665000 2669999
2670000 2674999
2675000 2679999
2680000 2684999
2685000 2689999
2690000 2694999
2695000 2699999

2700000 2704999
2705000 2709999
2710000 2714999
2715000 2719999
2720000 2724999
2725000 2729999
2730000 2734999
2735000 2739999
2740000 2744999
2745000 2749999
2750000 2754999
2755000 2759999
2760000 2764999
2765000 2769999
2770000 2774999
2775000 2779999
2780000 2784999
2785000 2789999
2790000 2794999
2795000 2799999
2800000 2804999
2805000 2809999
2810000 2814999
2815000 2819999
2820000 2824999
2825000 2829999
2830000 2834999
2835000 2839999
2840000 2844999
2845000 2849999
2850000 2854999
2855000 2859999
2860000 2864999
2865000 2869999
2870000 2874999
2875000 2879999
2880000 2884999
2885000 2889999
2890000 2894999
2895000 2899999
2900000 2904999
2905000 2909999
2910000 2914999
2915000 2919999
2920000 2924999
2925000 2929999
2930000 2934999
2935000 2939999
2940000 2944999
2945000 2949999
2950000 2954999
2955000 2959999
2960000 2964999
2965000 2969999
2970000 2974999
2975000 2979999
2980000 2984999
2985000 2989999
2990000 2994999
2995000 2999999
3000000 3004999
3005000 3009999
3010000 3014999
3015000 3019999
3020000 3024999
3025000 3029999
3030000 3034999
3035000 3039999
3040000 3044999
3045000 3049999
3050000 3054999
3055000 3059999
3060000 3064999
3065000 3069999
3070000 3074999
3075000 3079999
3080000 3084999
3085000 3089999
3090000 3094999
3095000 3099999
3100000 3104999
3105000 3109999
3110000 3114999
3115000 3119999
3120000 3124999
3125000 3129999
3130000 3134999
3135000 3139999
3140000 3144999
3145000 3149999
3150000 3154999
3155000 3159999
3160000 3164999
3165000 3169999
3170000 3174999
3175000 3179999
3180000 3184999
3185000 3189999
3190000 3194999
3195000 3199999
3200000 3204999
3205000 3209999
3210000 3214999
3215000 3219999
3220000 3224999
3225000 3229999
3230000 3234999
3235000 3239999
3240000 3244999
3245000 3249999
3250000 3254999
3255000 3259999
3260000 3264999
3265000 3269999
3270000 3274999
3275000 3279999
3280000 3284999
3285000 3289999
3290000 3294999
3295000 3299999
3300000 3304999
3305000 3309999
3310000 3314999
3315000 3319999
3320000 3324999
3325000 3329999
3330000 3334999
3335000 3339999
3340000 3344999
3345000 3349999
3350000 3354999
3355000 3359999
3360000 3364999
3365000 3369999
3370000 3374999
3375000 3379999
3380000 3384999
3385000 3389999
3390000 3394999
3395000 3399999
3400000 3404999
3405000 3409999
3410000 3414999
3415000 3419999
3420000 3424999
3425000 3429999
3430000 3434999
3435000 3439999
3440000 3444999
3445000 3449999
3450000 3454999
3455000 3459999
3460000 3464999
3465000 3469999
3470000 3474999
3475000 3479999
3480000 3484999
3485000 3489999
3490000 3494999
3495000 3499999
3500000 3504999
3505000 3509999
3510000 3514999
3515000 3519999
3520000 3524999
3525000 3529999
3530000 3534999
3535000 3539999
3540000 3544999
3545000 3549999
3550000 3554999
3555000 3559999
3560000 3564999
3565000 3569999
3570000 3574999
3575000 3579999
3580000 3584999
3585000 3589999
3590000 3594999
3595000 3599999
3600000 3604999
3605000 3609999
3610000 3614999
3615000 3619999
3620000 3624999
3625000 3629999
3630000 3634999
3635000 3639999
3640000 3644999
3645000 3649999
3650000 3654999
3655000 3659999
3660000 3664999
3665000 3669999
3670000 3674999
3675000 3679999
3680000 3684999
3685000 3689999
3690000 3694999
3695000 3699999
3700000 3704999
3705000 3709999
3710000 3714999
3715000 3719999
3720000 3724999
3725000 3729999
3730000 3734999
3735000 3739999
3740000 3744999
3745000 3749999
3750000 3754999
3755000 3759999
3760000 3764999
3765000 3769999
3770000 3774999
3775000 3779999
3780000 3784999
3785000 3789999
3790000 3794999
3795000 3799999
3800000 3804999
3805000 3809999
3810000 3814999
3815000 3819999
3820000 3824999
3825000 3829999
3830000 3834999
3835000 3839999
3840000 3844999
3845000 3849999
3850000 3854999
3855000 3859999
3860000 3864999
3865000 3869999
3870000 3874999
3875000 3879999
3880000 3884999
3885000 3889999
3890000 3894999
3895000 3899999
3900000 3904999
3905000 3909999
3910000 3914999
3915000 3919999
3920000 3924999
3925000 3929999
3930000 3934999
3935000 3939999
3940000 3944999
3945000 3949999
3950000 3954999
3955000 3959999
3960000 3964999
3965000 3969999
3970000 3974999
3975000 3979999
3980000 3984999
3985000 3989999
3990000 3994999
3995000 3999999
4000000 4004999
4005000 4009999
4010000 4014999
4015000 4019999
4020000 4024999
4025000 4029999
4030000 4034999
4035000 4039999
4040000 4044999
4045000 4049999
4050000 4054999
4055000 4059999
4060000 4064999
4065000 4069999
4070000 4074999
4075000 4079999
4080000 4084999
4085000 4089999
4090000 4094999
4095000 4099999
4100000 4104999
4105000 4109999
4110000 4114999
4115000 4119999
4120000 4124999
4125000 4129999
4130000 4134999
4135000 4139999
4140000 4144999
4145000 4149999
4150000 4154999
4155000 4159999
4160000 4164999
4165000 4169999
4170000 4174999
4175000 4179999
4180000 4184999
4185000 4189999
4190000 4194999
4195000 4199999
4200000 4204999
4205000 4209999
4210000 4214999
4215000 4219999
4220000 4224999
4225000 4229999
4230000 4234999
4235000 4239999
4240000 4244999
4245000 4249999
4250000 4254999
4255000 4259999
4260000 4264999
4265000 4269999
4270000 4274999
4275000 4279999
4280000 4284999
4285000 4289999
4290000 4294999
4295000 4299999
4300000 4304999
4305000 4309999
4310000 4314999
4315000 4319999
4320000 4324999
4325000 4329999
4330000 4334999
4335000 4339999
4340000 4344999
4345000 4349999
4350000 4354999
4355000 4359999
4360000 4364999
4365000 4369999
4370000 4374999
4375000 4379999
4380000 4384999
4385000 4389999
4390000 4394999
4395000 4399999
4400000 4404999
4405000 4409999
4410000 4414999
4415000 4419999
4420000 4424999
4425000 4429999
4430000 4434999
4435000 4439999
4440000 4444999
4445000 4449999
4450000 4454999
4455000 4459999
4460000 4464999
4465000 4469999
4470000 4474999
4475000 4479999
4480000 4484999
4485000 4489999
4490000 4494999
4495000 4499999
4500000 4504999
4505000 4509999
4510000 4514999
4515000 4519999
4520000 4524999
4525000 4529999
4530000 4534999
4535000 4539999
4540000 4544999
4545000 4549999
4550000 4554999
4555000 4559999
4560000 4564999
4565000 4569999
4570000 4574999
4575000 4579999
4580000 4584999
4585000 4589999
4590000 4594999
4595000 4599999
4600000 4604999
4605000 4609999
4610000 4614999
4615000 4619999
4620000 4624999
4625000 4629999
4630000 4634999
4635000 4639999
4640000 4644999
4645000 4649999
4650000 4654999
4655000 4659999
4660000 4664999
4665000 4669999
4670000 4674999
4675000 4679999
4680000 4684999
4685000 4689999
4690000 4694999
4695000 4699999
4700000 4704999
4705000 4709999
4710000 4714999
4715000 4719999
4720000 4724999
4725000 4729999
4730000 4734999
4735000 4739999
4740000 4744999
4745000 4749999
4750000 4754999
4755000 4759999
4760000 4764999
4765000 4769999
4770000 4774999
4775000 4779999
4780000 4784999
4785000 4789999
4790000 4794999
4795000 4799999
4800000 4804999
4805000 4809999
4810000 4814999
4815000 4819999
4820000 4824999
4825000 4829999
4830000 4834999
4835000 4839999
4840000 4844999
4845000 4849999
4850000 4854999
4855000 4859999
4860000 4864999
4865000 4869999
4870000 4874999
4875000 4879999
4880000 4884999
4885000 4889999
4890000 4894999
4895000 4899999
4900000 4904999
4905000 4909999
4910000 4914999
4915000 4919999
4920000 4924999
4925000 4929999
4930000 4934999
4935000 4939999
4940000 4944999
4945000 4949999
4950000 4954999
4955000 4959999
4960000 4964999
4965000 4969999
4970000 4974999
4975000 4979999
4980000 4984999
4985000 4989999
4990000 4994999
4995000 4999999
5000000 5004999
5005000 5009999
5010000 5014999
5015000 5019999
5020000 5024999
5025000 5029999
5030000 5034999
5035000 5039999
5040000 5044999
5045000 5049999
5050000 5054999
5055000 5059999
5060000 5064999
5065000 5069999
5070000 5074999
5075000 5079999
5080000 5084999
5085000 5089999
5090000 5094999
5095000 5099999
5100000 5104999
5105000 5109999
5110000 5114999
5115000 5119999
5120000 5124999
5125000 5129999
5130000 5134999
5135000 5139999
5140000 5144999
5145000 5149999
5150000 5154999
5155000 5159999
5160000 5164999
5165000 5169999
5170000 5174999
5175000 5179999
5180000 5184999
5185000 5189999
5190000 5194999
5195000 5199999
5200000 5204999
5205000 5209999
5210000 5214999
5215000 5219999
5220000 5224999
5225000 5229999
5230000 5234999
5235000 5239999
5240000 5244999
5245000 5249999
5250000 5254999
5255000 5259999
5260000 5264999
5265000 5269999
5270000 5274999
5275000 5279999
5280000 5284999
5285000 5289999
5290000 5294999
5295000 5299999
5300000 5304999
5305000 5309999
5310000 5314999
5315000 5319999
5320000 5324999
5325000 5329999
5330000 5334999
5335000 5339999
5340000 5344999
5345000 5349999
5350000 5354999
5355000 5359999
5360000 5364999
5365000 5369999
5370000 5374999
5375000 5379999
5380000 5384999
5385000 5389999
5390000 5394999
5395000 5399999
5400000 5404999
5405000 5409999
5410000 5414999
5415000 5419999
5420000 5424999
5425000 5429999
5430000 5434999
5435000 5439999
5440000 5444999
5445000 5449999
5450000 5454999
5455000 5459999
5460000 5464999
5465000 5469999
5470000 5474999
5475000 5479999
5480000 5484999
5485000 5489999
5490000 5494999
5495000 5499999
5500000 5504999
5505000 5509999
5510000 5514999
5515000 5519999
5520000 5524999
5525000 5529999
5530000 5534999
5535000 5539999
5540000 5544999
5545000 5549999
5550000 5554999
5555000 5559999
5560000 5564999
5565000 5569999
5570000 5574999
5575000 5579999
5580000 5584999
5585000 5589999
5590000 5594999
5595000 5599999
5600000 5604999
5605000 5609999
5610000 5614999
5615000 5619999
5620000 5624999
5625000 5629999
5630000 5634999
5635000 5639999
5640000 5644999
5645000 5649999
5650000 5654999
5655000 5659999
5660000 5664999
5665000 5669999
5670000 5674999
5675000 5679999
5680000 5684999
5685000 5689999
5690000 5694999
5695000 5699999
5700000 5704999
5705000 5709999
5710000 5714999
5715000 5719999
5720000 5724999
5725000 5729999
5730000 5734999
5735000 5739999
5740000 5744999
5745000 5749999
5750000 5754999
5755000 5759999
5760000 5764999
5765000 5769999
5770000 5774999
5775000 5779999
5780000 5784999
5785000 5789999
5790000 5794999
5795000 5799999
5800000 5804999
5805000 5809999
5810000 5814999
5815000 5819999
5820000 5824999
5825000 5829999
5830000 5834999
5835000 5839999
5840000 5844999
5845000 5849999
5850000 5854999
5855000 5859999
5860000 5864999
5865000 5869999
5870000 5874999
5875000 5879999
5880000 5884999
5885000 5889999
5890000 5894999
5895000 5899999
5900000 5904999
5905000 5909999
5910000 5914999
5915000 5919999
5920000 5924999
5925000 5929999
5930000 5934999
5935000 5939999
5940000 5944999
5945000 5949999
5950000 5954999
5955000 5959999
5960000 5964999
5965000 5969999
5970000 5974999
5975000 5979999
5980000 5984999
5985000 5989999
5990000 5994999
5995000 5999999
6000000 6004999
6005000 6009999
6010000 6014999
6015000 6019999
6020000 6024999
6025000 6029999
6030000 6034999
6035000 6039999
6040000 6044999
6045000 6049999
6050000 6054999
6055000 6059999
6060000 6064999
6065000 6069999
6070000 6074999
6075000 6079999
6080000 6084999
6085000 6089999
6090000 6094999
6095000 6099999
6100000 6104999
6105000 6109999
6110000 6114999
6115000 6119999
6120000 6124999
6125000 6129999
6130000 6134999
6135000 6139999
6140000 6144999
6145000 6149999
6150000 6154999
6155000 6159999
6160000 6164999
6165000 6169999
6170000 6174999
6175000 6179999
6180000 6184999
6185000 6189999
6190000 6194999
6195000 6199999
6200000 6204999
6205000 6209999
6210000 6214999
6215000 6219999
6220000 6224999
6225000 6229999
6230000 6234999
6235000 6239999
6240000 6244999
6245000 6249999
6250000 6254999
6255000 6259999
6260000 6264999
6265000 6269999
6270000 6274999
6275000 6279999
6280000 6284999
6285000 6289999
6290000 6294999
6295000 6299999
6300000 6304999
6305000 6309999
6310000 6314999
6315000 6319999
6320000 6324999
6325000 6329999
6330000 6334999
6335000 6339999
6340000 6344999
6345000 6349999
6350000 6354999
6355000 6359999
6360000 6364999
6365000 6369999
6370000 6374999
6375000 6379999
6380000 6384999
6385000 6389999
6390000 6394999
6395000 6399999
6400000 6404999
6405000 6409999
6410000 6414999
6415000 6419999
6420000 6424999
6425000 6429999
6430000 6434999
6435000 6439999
6440000 6444999
6445000 6449999
6450000 6454999
6455000 6459999
6460000 6464999
6465000 6469999
6470000 6474999
6475000 6479999
6480000 6484999
6485000 6489999
6490000 6494999
6495000 6499999
6500000 6504999
6505000 6509999
6510000 6514999
6515000 6519999
6520000 6524999
6525000 6529999
6530000 6534999
6535000 6539999
6540000 6544999
6545000 6549999
6550000 6554999
6555000 6559999
6560000 6564999
6565000 6569999
6570000 6574999
6575000 6579999
6580000 6584999
6585000 6589999
6590000 6594999
6595000 6599999
6600000 6604999
6605000 6609999
6610000 6614999
6615000 6619999
6620000 6624999
6625000 6629999
6630000 6634999
6635000 6639999
6640000 6644999
6645000 6649999
6650000 6654999
6655000 6659999
6660000 6664999
6665000 6669999
6670000 6674999
6675000 6679999
6680000 6684999
6685000 6689999
6690000 6694999
6695000 6699999
6700000 6704999
6705000 6709999
6710000 6714999
6715000 6719999
6720000 6724999
6725000 6729999
6730000 6734999
6735000 6739999
6740000 6744999
6745000 6749999
6750000 6754999
6755000 6759999
6760000 6764999
6765000 6769999
6770000 6774999
6775000 6779999
6780000 6784999
6785000 6789999
6790000 6794999
6795000 6799999
6800000 6804999
6805000 6809999
6810000 6814999
6815000 6819999
6820000 6824999
6825000 6829999
6830000 6834999
6835000 6839999
6840000 6844999
6845000 6849999
6850000 6854999
6855000 6859999
6860000 6864999
6865000 6869999
6870000 6874999
6875000 6879999
6880000 6884999
6885000 6889999
6890000 6894999
6895000 6899999
6900000 6904999
6905000 6909999
6910000 6914999
6915000 6919999
6920000 6924999
6925000 6929999
6930000 6934999
6935000 6939999
6940000 6944999
6945000 6949999
6950000 6954999
6955000 6959999
6960000 6964999
6965000 6969999
6970000 6974999
6975000 6979999
6980000 6984999
6985000 6989999
6990000 6994999
6995000 6999999
7000000 7004999
7005000 7009999
7010000 7014999
7015000 7019999
7020000 7024999
7025000 7029999
7030000 7034999
7035000 7039999
7040000 7044999
7045000 7049999
7050000 7054999
7055000 7059999
7060000 7064999
7065000 7069999
7070000 7074999
7075000 7079999
7080000 7084999
7085000 7089999
7090000 7094999
7095000 7099999
7100000 7104999
7105000 7109999
7110000 7114999
7115000 7119999
7120000 7124999
7125000 7129999
7130000 7134999
7135000 7139999
7140000 7144999
7145000 7149999
7150000 7154999
7155000 7159999
7160000 7164999
7165000 7169999
7170000 7174999
7175000 7179999
7180000 7184999
7185000 7189999
7190000 7194999
7195000 7199999
7200000 7204999
7205000 7209999
7210000 7214999
7215000 7219999
7220000 7224999
7225000 7229999
7230000 7234999
7235000 7239999
7240000 7244999
7245000 7249999
7250000 7254999
7255000 7259999
7260000 7264999
7265000 7269999
7270000 7274999
7275000 7279999
7280000 7284999
7285000 7289999
7290000 7294999
7295000 7299999
7300000 7304999
7305000 7309999
7310000 7314999
7315000 7319999
7320000 7324999
7325000 7329999
7330000 7334999
7335000 7339999
7340000 7344999
7345000 7349999
7350000 7354999
7355000 7359999
7360000 7364999
7365000 7369999
7370000 7374999
7375000 7379999
7380000 7384999
7385000 7389999
7390000 7394999
7395000 7399999
7400000 7404999
7405000 7409999
7410000 7414999
7415000 7419999
7420000 7424999
7425000 7429999
7430000 7434999
7435000 7439999
7440000 7444999
7445000 7449999
7450000 7454999
7455000 7459999
7460000 7464999
7465000 7469999
7470000 7474999
7475000 7479999
7480000 7484999
7485000 7489999
7490000 7494999
7495000 7499999
7500000 7504999
7505000 7509999
7510000 7514999
7515000 7519999
7520000 7524999
7525000 7529999
7530000 7534999
7535000 7539999
7540000 7544999
7545000 7549999
7550000 7554999
7555000 7559999
7560000 7564999
7565000 7569999
7570000 7574999
7575000 7579999
7580000 7584999
7585000 7589999
7590000 7594999
7595000 7599999
7600000 7604999
7605000 7609999
7610000 7614999
7615000 7619999
7620000 7624999
7625000 7629999
7630000 7634999
7635000 7639999
7640000 7644999
7645000 7649999
7650000 7654999
7655000 7659999
7660000 7664999
7665000 7669999
7670000 7674999
7675000 7679999
7680000 7684999
7685000 7689999
7690000 7694999
7695000 7699999
7700000 7704999
7705000 7709999
7710000 7714999
7715000 7719999
7720000 7724999
7725000 7729999
7730000 7734999
7735000 7739999
7740000 7744999
7745000 7749999
7750000 7754999
7755000 7759999
7760000 7764999
7765000 7769999
7770000 7774999
7775000 7779999
7780000 7784999
7785000 7789999
7790000 7794999
7795000 7799999
7800000 7804999
7805000 7809999
7810000 7814999
7815000 7819999

7820000 7824999
7825000 7829999
7830000 7834999
7835000 7839999
7840000 7844999
7845000 7849999
7850000 7854999
7855000 7859999
7860000 7864999
7865000 7869999
7870000 7874999
7875000 7879999
7880000 7884999
7885000 7889999
7890000 7894999
7895000 7899999
7900000 7904999
7905000 7909999
7910000 7914999
7915000 7919999
7920000 7924999
7925000 7929999
7930000 7934999
7935000 7939999
7940000 7944999
7945000 7949999
7950000 7954999
7955000 7959999
7960000 7964999
7965000 7969999
7970000 7974999
7975000 7979999
7980000 7984999
7985000 7989999
7990000 7994999
7995000 7999999
8000000 8004999
8005000 8009999
8010000 8014999
8015000 8019999
8020000 8024999
8025000 8029999
8030000 8034999
8035000 8039999
8040000 8044999
8045000 8049999
8050000 8054999
8055000 8059999
8060000 8064999
8065000 8069999
8070000 8074999
8075000 8079999
8080000 8084999
8085000 8089999
8090000 8094999
8095000 8099999
8100000 8104999
8105000 8109999
8110000 8114999
8115000 8119999
8120000 8124999
8125000 8129999
8130000 8134999
8135000 8139999
8140000 8144999
8145000 8149999
8150000 8154999
8155000 8159999

In [ ]:
#运行时间很长且取决于计算机性能，由于数据量过大，很可能跑不出来
pivot_df = pd.DataFrame()
for i in tqdm(range(0, len(chunks) - 1)):
    chunk_df = sale_data.iloc[ chunks[i]:chunks[i + 1] - 1]
    interactions = (chunk_df.groupby('user_id')['item_id']
      .value_counts()
      .unstack()
    )
    pivot_df = pivot_df.append(interactions, sort=False) 
#df_new = pd.concat([df_product.iloc[ chunks[i]:chunks[i + 1] - 1 ].pivot(index='user_id', columns='item_id', values='counts') for i in range(0, len(chunks) - 1)])

  1%|█                                                                            | 23/1632 [06:21<18:21:27, 41.07s/it]

In [100]:
pivot_df[pivot_df> 1] = 1
pivot_df[np.isnan(pivot_df)] = 0

In [ ]:
pivot_df.head(10)

In [2]:
# 挖掘频繁项集
frequent_itemsets = apriori(pivot_df, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)

frequent_itemsets = frequent_itemsets.sort_values(by='support', ascending=False)
print('频繁项集：', frequent_itemsets)

pd.options.display.max_columns = 100
rules = rules.sort_values(by='lift', ascending=False)
print('关联规则：', rules)

In [ ]:
#使用FP—growth方法 :优点：速度快，缺点：不能挖掘频繁规则
transactions = []
for value in df_order:
    transactions.append(list(str(value)))
class treeNode:
    def __init__(self, nameValue, numOccur, parentNode):
        self.name = nameValue
        self.count = numOccur
        self.nodeLink = None
        self.parent = parentNode
        self.children = {}
    def inc(self, numOccur):
        self.count += numOccur
    def disp(self, ind=1):
        print ('  ' * ind, self.name, ' ', self.count)
        for child in self.children.values():
            child.disp(ind + 1)

# 当出现两个或两个以上的相似项时，找到最后一个相似项的实例，让该实例的self.nodeLink属性保存新出现的相似项
# 效果如同是在一条链的最后一个节点后再接入一个节点，这些链就是self.nodeLink
def updateHeader(nodeToTest, targetNode):
    while nodeToTest.nodeLink != None:
        nodeToTest = nodeToTest.nodeLink
    nodeToTest.nodeLink = targetNode

# 接收处理好的事务列表，画出FP树
def updateFPtree(items, inTree, headerTable, count):
    if items[0] in inTree.children:
        # 判断items的第一个结点是否已作为子结点
        inTree.children[items[0]].inc(count)
    else:
        # 创建新的分支
        inTree.children[items[0]] = treeNode(items[0], count, inTree)
        # 更新相应频繁项集的链表，往后添加
        if headerTable[items[0]][1] == None:
            headerTable[items[0]][1] = inTree.children[items[0]]
        else:
            updateHeader(headerTable[items[0]][1], inTree.children[items[0]])
    # 递归
    if len(items) > 1:
        updateFPtree(items[1::], inTree.children[items[0]], headerTable, count)

# 输入字典格式的事务和最小支持度，返回FP树和项头表
def createFPtree(dataSet, minSup=3):
    headerTable = {}
    for trans in dataSet:
        for item in trans:
            headerTable[item] = headerTable.get(item, 0) + dataSet[trans]
    for k in list(headerTable.keys()):
        if headerTable[k] < minSup:
            del (headerTable[k])  # 删除不满足最小支持度的元素
    freqItemSet = set(headerTable.keys())  # 满足最小支持度的频繁项集
    if len(freqItemSet) == 0:
        return None, None
    for k in headerTable:
        headerTable[k] = [headerTable[k], None]  # element: [count, node]
    retTree = treeNode('Null Set', 1, None)
    for tranSet, count in dataSet.items():
        localD = {}
        for item in tranSet:
            if item in freqItemSet:  # 过滤，只取该样本中满足最小支持度的频繁项
                localD[item] = headerTable[item][0]  # element : count
        if len(localD) > 0:
            # 根据全局频数从大到小对单样本排序
            orderedItem = [v[0] for v in sorted(localD.items(), key=lambda p: p[1], reverse=True)]
            #print('orderItems=', orderedItem)
            # 用过滤且排序后的样本更新树
            updateFPtree(orderedItem, retTree, headerTable, count)
    return retTree, headerTable

# 构造成 element : count 的形式，以字典形式输出
def createInitSet(dataSet):
    retDict = {}
    for trans in dataSet:
        trans = "".join(trans).split(',')
        key = frozenset(trans)
        if key in retDict:
            retDict[frozenset(trans)] += 1
        else:
            retDict[frozenset(trans)] = 1
    return retDict

# 递归回溯，找到给定节点往上回溯到根节点的路径，并把路径存到列表中
def ascendFPtree(leafNode, prefixPath):
    if leafNode.parent != None:
        prefixPath.append(leafNode.name)
        ascendFPtree(leafNode.parent, prefixPath)

# 找到给定元素名称的条件模式基，以字典格式存贮
def findPrefixPath(basePat, myHeaderTab):
    treeNode = myHeaderTab[basePat][1]  # basePat在FP树中的第一个结点
    condPats = {}
    while treeNode != None:
        prefixPath = []
        ascendFPtree(treeNode, prefixPath)  # prefixPath是倒过来的，从treeNode开始到根
        if len(prefixPath) > 1:
            condPats[frozenset(prefixPath[1:])] = treeNode.count  # 关联treeNode的计数
        treeNode = treeNode.nodeLink  # 下一个basePat结点
    return condPats
def mineFPtree(inTree, headerTable, minSup, preFix, freqItemList):
    # 最开始的频繁项集是headerTable中的各元素
    bigL = [v[0] for v in sorted(headerTable.items(), key=lambda p: p[1][0])]  # 根据频繁项的总频次排序
    #print("bigL:  ",bigL)
    for basePat in bigL:  # 对每个频繁项
        newFreqSet = preFix.copy()
        newFreqSet.add(basePat)
        freqItemList.append(newFreqSet)
        condPattBases = findPrefixPath(basePat, headerTable)  # 当前频繁项集的条件模式基
        myCondTree, myHead = createFPtree(condPattBases, minSup)  # 构造当前频繁项的条件FP树
        if myHead != None:
            mineFPtree(myCondTree, myHead, minSup, newFreqSet, freqItemList)  # 递归挖掘条件FP树              
if __name__ == '__main__':
    parsedDat = transactions
    initSet = createInitSet(parsedDat)
    myFPtree, myHeaderTab = createFPtree(initSet)
    myFPtree.disp()
    myFreqList = []
    mineFPtree(myFPtree, myHeaderTab, 3, set([]), myFreqList)
    print("频繁项集的数量是: %s" % len(myFreqList))
    for item in myFreqList:
        print(item)

### 4.平台分析

- 重要发展用户对比重要价值用户的各个行为之前的转化率，看是哪一步的转化率较低

In [32]:
RF.reset_index(inplace=True)

In [33]:
sale_data_new=pd.merge(sale_data, RF, how='left', left_on='user_id', right_on='index')

In [34]:
developuserrate = sale_data_new[sale_data_new['user_classification'] == '重要发展客户'].groupby(
    'behavior_type').event_time.count()

In [35]:
#重要发展客户计算转化率
df1=pd.DataFrame(developuserrate)
df1.reset_index(inplace=True)
df1.columns=['behavior_type','cnt']
df1['zh_rate1']=df1.cnt*100/df1.cnt.shift(1)
df1['zh_rate2']=df1.cnt*100/df1.cnt.shift(2)

In [39]:
#重要价值客户计算转化率
importantuserrate=sale_data_new[sale_data_new['user_classification']=='重要价值客户'].groupby('behavior_type').event_time.count()
df2=pd.DataFrame(importantuserrate)
df2.reset_index(inplace=True)
df2.columns=['behavior_type','cnt']
df2['zh_rate1']=df2.cnt*100/df2.cnt.shift(1)
df2['zh_rate2']=df2.cnt*100/df2.cnt.shift(2)

In [40]:
#重要发展客户
df1

   behavior_type      cnt   zh_rate1   zh_rate2
0              1  1466974        NaN        NaN
1              2    46065   3.140137        NaN
2              3    44488  96.576577   3.032637
3              4    13503  30.352005  29.312927

In [41]:
#重要价值客户
df2

   behavior_type      cnt    zh_rate1   zh_rate2
0              1  4739371         NaN        NaN
1              2   153470    3.238193        NaN
2              3   246243  160.450251   5.195689
3              4    86811   35.254200  56.565453

- 平台部分分析结论
 重要价值客户中浏览->加购的用户5.2%，重要发展用户为3.0%，低2.2个百分点。
 重要价值客户购物车->下单的比率为35.3%,重要发展客户为30.4%，低3.9个百分点。
 可以考虑从提高重要发展客户浏览到下单，购物车到下单的转化率来提升GMV 。

- 转化率较低的原因：
 浏览至加购转化率低
 1.商品的推荐系统做的不完善有推荐用户需要的商品
 2.活动投放时间未在用户转化率大的时间
 购物车至下单转化率低
 1.用户对商品有意向，但是对价格不满意
 2.忘记自己加购的物品